<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">
            <img src="/assets/img/Logo.png" alt="" width="60" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Peça seu Sanduíche</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<br>